body {
    color: white;
    src: url("../webfonts/fa-brands-400.eot");
    overflow: hidden;
}


html { scroll-behavior: smooth; } 

header {
       width: 100%;
    font-size: 42px;
    background: linear-gradient(#150924, #130921);
    height: 119px;
    position: fixed;
    z-index: 2;
    padding: 18px 8px 0px 18px;
}

header img {
    height: 55px;
    margin-top: 14px;
    position: absolute;
    top: 1%;
    left: 1%;
}

header nav {
    font-size: 32px;
    color: white;
    float: right;
}

header nav ul li {
    display: inline-block;
    padding: 18px 18px;
    border-radius: 50%;
    background-color: #291b3c;
    margin-right: 10px;
}

#fa-user , #fa-wifi , #fa-bell{
	width: 50px;
    height: 40px;
    text-align: center;
}
header nav ul li:nth-child(2) {
    position: relative;
}

 #badge{
    position: absolute;
    right: 7px;
    top: 3px;
    border-radius: 50%;
    background: red;
    font-size: 21px;
   } 
   
.user_name{
	 position: relative;
      right: 5px;
}
  

header nav ul li:hover {
    display: inline-block;
    padding: 18px 18px;
    color: rgba(255, 132, 0, 1)
}

.column_1 {
    float: left;
    width: 25%;
    padding: 10px;
    height: 100%;
    background: red;
    color: white;
}

.column_2 {
    float: right;
    width: 73%;
    padding: 18px;
    height: 100%;
    background: blue;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
}

h1 {
    font-size: 34px;
    font-weight: inherit;
}

.video_description {
    font-size: 32px;
    line-height: 55px;
}

h3 {
    font-size: 46px !important;
}

span #detail {
    position: relative;
    left: 234px;
    font-size: 29px !important;
}

.split {
    margin-top: 119px;
    height: 1592px;
    width: 74%;
    right: 0;
    z-index: 1;
    position: absolute;
    color: white;
}

.left {
    left: 0px;
    height: 1080px;
    background: linear-gradient(#150924, #130921, #140922A1);
    width: 26%;
    position: fixed;
}

.right {
    right: 0;
}

#split_right {
    margin-top: 119px;
    color: white;
    background: linear-gradient(rgba(21, 9, 36, 1), rgba(20, 9, 34, .7), rgba(21, 9, 36, .7)), url(../images/rightBacground.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.centered {
    padding: 22px 0px 0px 35px;
}

.detail {
    position: relative;
    left: 265px;
}

.split .right h1 {
    font-size: 44px;
}

.detail_year {
    font-size: 27px;
}

.play_btn {
    width: 233px;
    border: 2px solid hsla(266, 6%, 45%, 1);
    background: rgba(255, 132, 0, 1);
    border-radius: 9px;
    height: 58px;
    border: none;
    position: relative;
    left: 3%;
    font-size: 28px;
    color: white;
    font-weight: bold;
    padding-left: 28px;
}

.fa-play {
    background: rgb(255, 170, 79);
    padding: 15px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 9px 0px 0px 9px;
}

.favourite_btn {
    width: 319px;
    border-radius: 9px;
    height: 58px;
    background: #706382;
    border: none;
    position: relative;
    left: 6%;
    font-size: 28px;
    color: white;
    font-weight: bold;
    padding-left: 28px;
}

.fa-star {
    background: #a099a9a1;
    padding: 15px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 9px 0px 0px 9px;
}

.left_right_arrow span {
    float: right;
    right: 200px;
    font-size: 65px;
    color: white;
    font-weight: bold;
    padding-right: 33px;
}

.left_navigation {
    display: flex;
    flex-direction: column;
    padding: 21px;
    text-align: left;
    width: 443px;
    margin: 28px 0 0 0;
}

.left_navigation button {
    height: 65px;
    text-align: left;
    background: none;
    color: white;
    margin: 15px 0 16px 1px;
    border-radius: 5px;
    font-size: 31px;
    font-weight: bold;
    border: none;
}

.watch_btn {
    background: white !important;
    color: black !important;
}

.left_navigation input {
    height: 58px;
    padding-left: 53px;
    color: white;
    background: none;
    border: none;
    font-size: 31px;
    font-weight: bold;
}

.setting_btn {
    height: 65px;
    text-align: left;
    background: none;
    color: white;
    margin: 15px 0 16px 1px;
    border-radius: 5px;
    font-size: 31px;
    font-weight: bold;
    border: none;
    position: absolute;
    bottom: 11%;
    left: 12%;
}

.fa-cog {
    font-size: 31px;
}

.fa-search {
    position: relative;
    top: 50px;
    font-size: 31px;
}

.search_Box {
    padding-left: 16px;
}

.catagory_type_text {
    font-size: 27px;
    font-style: oblique;
    font-weight: bold;
}

.img-fluid {
    position: relative;
    height: 200px !important;
}

.catagory_name_style {
    position: absolute;
    bottom: 12px;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 3px;
}


/ carsoul /

.carousel .carousel-item {
    text-align: center;
    overflow: hidden;
}

.carousel .carousel-item h4 {
    font-family: 'Varela Round', sans-serif;
}

.carousel .carousel-item img {
    max-width: 100%;
    display: inline-block;
}

.carousel .carousel-item .btn {
    border-radius: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    background: #a177ff;
    padding: 6px 15px;
    margin-top: 5px;
}

.carousel .carousel-item .btn:hover {
    background: #8c5bff;
}

.carousel .carousel-item .btn i {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}

.carousel .thumb-wrapper {
    margin: 5px;
    text-align: left;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.carousel .thumb-content {
    padding: 15px;
    font-size: 13px;
}

.carousel-control-prev,
.carousel-control-next {
    height: 44px;
    width: 44px;
    background: none;
    margin: auto 0;
}

.carousel-control-prev i,
.carousel-control-next i {
    font-size: 45px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -22px 117px 0 135px;
    z-index: 5;
    left: 0;
    right: 0;
    color: white;
    text-shadow: none;
    font-weight: bold;
}

.carousel-control-prev i {
    margin-left: -3px;
}

.carousel-control-next i {
    margin-right: -3px;
}